.nonprofit {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #d4a59A;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 90px;
  margin-bottom: 1rem;
  margin-top: 80px;
  text-align: center;
  color: #5C2018;
}

h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: #5C2018;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4285F4;
  border-radius: 5px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto; 
  margin-bottom: 20px;
}

#searchTerm {
  border: none;
  padding: 23.8px;
  font-size: 20px;
  outline: none;
  width: 100%;
  background-color: white;
}

#searchBtn {
  background-color: #4285F4;
  color: #fff;
  border: none;
  padding: 25px 1rem;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

#searchBtn:hover {
  background-color: #136dff;
}

h2{
  font-size: 30px;
  color: #5C2018;
}

p{
  font-size: 20px;
  color: #f3e0dc;
}

.nonprofit a {
  font-size: 20px;
  color: #5C2018;
  text-decoration: none;
}

.nonprofit a:hover {
  background-color: #BC4639; /* Darker green on hover */
}